coursework/SharesBrokerASPClient/SharesBrokerASPClient/Web References/CurrConvertor/CurrConvertor0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns1="http://xml.netbeans.org/schema/rates" xmlns:tns="http://convertor/" targetNamespace="http://convertor/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/CurrConvertor/CurrConvertor?xsd=1" namespace="http://xml.netbeans.org/schema/rates" />
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:element name="getConversionRate" type="tns:getConversionRate" />
  <xs:element name="getConversionRateResponse" type="tns:getConversionRateResponse" />
  <xs:element name="getCurrCodes" type="tns:getCurrCodes" />
  <xs:element name="getCurrCodesResponse" type="tns:getCurrCodesResponse" />
  <xs:element name="getLocalRates" type="tns:getLocalRates" />
  <xs:element name="getLocalRatesResponse" type="tns:getLocalRatesResponse" />
  <xs:element name="updateRates" type="tns:updateRates" />
  <xs:element name="updateRatesResponse" type="tns:updateRatesResponse" />
  <xs:complexType name="getLocalRates">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getLocalRatesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" form="qualified" name="rates" nillable="true" type="ns1:currencyRate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateRates">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="updateRatesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrCodes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCurrCodesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getConversionRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getConversionRateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>