coursework/SharesBrokerASPClient/SharesBrokerASPClient/Web References/CurrConvertor/CurrConvertor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xml.netbeans.org/schema/rates" elementFormDefault="qualified" targetNamespace="http://xml.netbeans.org/schema/rates" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:element name="Currency_Rates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="rates" nillable="true" type="tns:currencyRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="currencyRate">
    <xs:sequence>
      <xs:element name="currencyCode" type="xs:string" />
      <xs:element name="rate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>