coursework/SharesBrokerASPClient/SharesBrokerASPClient/Web References/CurrConvertor/CurrConvertor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://convertor/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CurrConvertor" targetNamespace="http://convertor/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CurrConvertor/CurrConvertor?xsd=1" namespace="http://xml.netbeans.org/schema/rates" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/CurrConvertor/CurrConvertor?xsd=2" namespace="http://convertor/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </types>
  <message name="getLocalRates">
    <part name="parameters" element="tns:getLocalRates" />
  </message>
  <message name="getLocalRatesResponse">
    <part name="parameters" element="tns:getLocalRatesResponse" />
  </message>
  <message name="getConversionRate">
    <part name="parameters" element="tns:getConversionRate" />
  </message>
  <message name="getConversionRateResponse">
    <part name="parameters" element="tns:getConversionRateResponse" />
  </message>
  <message name="updateRates">
    <part name="parameters" element="tns:updateRates" />
  </message>
  <message name="updateRatesResponse">
    <part name="parameters" element="tns:updateRatesResponse" />
  </message>
  <message name="getCurrCodes">
    <part name="parameters" element="tns:getCurrCodes" />
  </message>
  <message name="getCurrCodesResponse">
    <part name="parameters" element="tns:getCurrCodesResponse" />
  </message>
  <portType name="CurrConvertor">
    <operation name="getLocalRates">
      <input wsam:Action="http://convertor/CurrConvertor/getLocalRatesRequest" message="tns:getLocalRates" />
      <output wsam:Action="http://convertor/CurrConvertor/getLocalRatesResponse" message="tns:getLocalRatesResponse" />
    </operation>
    <operation name="getConversionRate">
      <input wsam:Action="http://convertor/CurrConvertor/getConversionRateRequest" message="tns:getConversionRate" />
      <output wsam:Action="http://convertor/CurrConvertor/getConversionRateResponse" message="tns:getConversionRateResponse" />
    </operation>
    <operation name="updateRates">
      <input wsam:Action="http://convertor/CurrConvertor/updateRatesRequest" message="tns:updateRates" />
      <output wsam:Action="http://convertor/CurrConvertor/updateRatesResponse" message="tns:updateRatesResponse" />
    </operation>
    <operation name="getCurrCodes">
      <input wsam:Action="http://convertor/CurrConvertor/getCurrCodesRequest" message="tns:getCurrCodes" />
      <output wsam:Action="http://convertor/CurrConvertor/getCurrCodesResponse" message="tns:getCurrCodesResponse" />
    </operation>
  </portType>
  <binding name="CurrConvertorPortBinding" type="tns:CurrConvertor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getLocalRates">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getConversionRate">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateRates">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCurrCodes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CurrConvertor">
    <port name="CurrConvertorPort" binding="tns:CurrConvertorPortBinding">
      <soap:address location="http://localhost:8080/CurrConvertor/CurrConvertor" />
    </port>
  </service>
</definitions>