coursework/SharesBrokerASPClient/SharesBrokerASPClient/Web References/SharesBroker/SharesBrokerWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://sharesbroker/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SharesBrokerWS" targetNamespace="http://sharesbroker/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=1" namespace="http://xml.netbeans.org/schema/Shares" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=2" namespace="http://sharesbroker/" />
    </xsd:schema>
  </types>
  <message name="updateSharePrice">
    <part name="parameters" element="tns:updateSharePrice" />
  </message>
  <message name="updateSharePriceResponse">
    <part name="parameters" element="tns:updateSharePriceResponse" />
  </message>
  <message name="JAXBException">
    <part name="fault" element="tns:JAXBException" />
  </message>
  <message name="getAvailableShares">
    <part name="parameters" element="tns:getAvailableShares" />
  </message>
  <message name="getAvailableSharesResponse">
    <part name="parameters" element="tns:getAvailableSharesResponse" />
  </message>
  <message name="listShares">
    <part name="parameters" element="tns:listShares" />
  </message>
  <message name="listSharesResponse">
    <part name="parameters" element="tns:listSharesResponse" />
  </message>
  <message name="getShare">
    <part name="parameters" element="tns:getShare" />
  </message>
  <message name="getShareResponse">
    <part name="parameters" element="tns:getShareResponse" />
  </message>
  <message name="updateCompanyShare">
    <part name="parameters" element="tns:updateCompanyShare" />
  </message>
  <message name="updateCompanyShareResponse">
    <part name="parameters" element="tns:updateCompanyShareResponse" />
  </message>
  <message name="getCompanyName">
    <part name="parameters" element="tns:getCompanyName" />
  </message>
  <message name="getCompanyNameResponse">
    <part name="parameters" element="tns:getCompanyNameResponse" />
  </message>
  <message name="getCompanySymbols">
    <part name="parameters" element="tns:getCompanySymbols" />
  </message>
  <message name="getCompanySymbolsResponse">
    <part name="parameters" element="tns:getCompanySymbolsResponse" />
  </message>
  <message name="getFTSESectors">
    <part name="parameters" element="tns:getFTSESectors" />
  </message>
  <message name="getFTSESectorsResponse">
    <part name="parameters" element="tns:getFTSESectorsResponse" />
  </message>
  <message name="getCompanyShares">
    <part name="parameters" element="tns:getCompanyShares" />
  </message>
  <message name="getCompanySharesResponse">
    <part name="parameters" element="tns:getCompanySharesResponse" />
  </message>
  <message name="addNewCompany">
    <part name="parameters" element="tns:addNewCompany" />
  </message>
  <message name="addNewCompanyResponse">
    <part name="parameters" element="tns:addNewCompanyResponse" />
  </message>
  <message name="DatatypeConfigurationException">
    <part name="fault" element="tns:DatatypeConfigurationException" />
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException" />
  </message>
  <message name="removeCompany">
    <part name="parameters" element="tns:removeCompany" />
  </message>
  <message name="removeCompanyResponse">
    <part name="parameters" element="tns:removeCompanyResponse" />
  </message>
  <message name="searchBySymbol">
    <part name="parameters" element="tns:searchBySymbol" />
  </message>
  <message name="searchBySymbolResponse">
    <part name="parameters" element="tns:searchBySymbolResponse" />
  </message>
  <message name="searchByName">
    <part name="parameters" element="tns:searchByName" />
  </message>
  <message name="searchByNameResponse">
    <part name="parameters" element="tns:searchByNameResponse" />
  </message>
  <message name="searchByFTSESector">
    <part name="parameters" element="tns:searchByFTSESector" />
  </message>
  <message name="searchByFTSESectorResponse">
    <part name="parameters" element="tns:searchByFTSESectorResponse" />
  </message>
  <message name="searchByRange">
    <part name="parameters" element="tns:searchByRange" />
  </message>
  <message name="searchByRangeResponse">
    <part name="parameters" element="tns:searchByRangeResponse" />
  </message>
  <message name="searchByLowest">
    <part name="parameters" element="tns:searchByLowest" />
  </message>
  <message name="searchByLowestResponse">
    <part name="parameters" element="tns:searchByLowestResponse" />
  </message>
  <message name="searchByHighest">
    <part name="parameters" element="tns:searchByHighest" />
  </message>
  <message name="searchByHighestResponse">
    <part name="parameters" element="tns:searchByHighestResponse" />
  </message>
  <message name="filterQuery">
    <part name="parameters" element="tns:filterQuery" />
  </message>
  <message name="filterQueryResponse">
    <part name="parameters" element="tns:filterQueryResponse" />
  </message>
  <message name="getCurrencyCodes">
    <part name="parameters" element="tns:getCurrencyCodes" />
  </message>
  <message name="getCurrencyCodesResponse">
    <part name="parameters" element="tns:getCurrencyCodesResponse" />
  </message>
  <message name="updateRates">
    <part name="parameters" element="tns:updateRates" />
  </message>
  <message name="updateRatesResponse">
    <part name="parameters" element="tns:updateRatesResponse" />
  </message>
  <message name="getPriceByCurrency">
    <part name="parameters" element="tns:getPriceByCurrency" />
  </message>
  <message name="getPriceByCurrencyResponse">
    <part name="parameters" element="tns:getPriceByCurrencyResponse" />
  </message>
  <message name="getRealTimeShares">
    <part name="parameters" element="tns:getRealTimeShares" />
  </message>
  <message name="getRealTimeSharesResponse">
    <part name="parameters" element="tns:getRealTimeSharesResponse" />
  </message>
  <message name="getStockNews">
    <part name="parameters" element="tns:getStockNews" />
  </message>
  <message name="getStockNewsResponse">
    <part name="parameters" element="tns:getStockNewsResponse" />
  </message>
  <portType name="SharesBrokerWS">
    <operation name="updateSharePrice">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/updateSharePriceRequest" message="tns:updateSharePrice" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/updateSharePriceResponse" message="tns:updateSharePriceResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/updateSharePrice/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getAvailableShares">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getAvailableSharesRequest" message="tns:getAvailableShares" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getAvailableSharesResponse" message="tns:getAvailableSharesResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/getAvailableShares/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="listShares">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/listSharesRequest" message="tns:listShares" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/listSharesResponse" message="tns:listSharesResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/listShares/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getShare">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getShareRequest" message="tns:getShare" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getShareResponse" message="tns:getShareResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/getShare/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="updateCompanyShare">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShareRequest" message="tns:updateCompanyShare" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShareResponse" message="tns:updateCompanyShareResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShare/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getCompanyName">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyNameRequest" message="tns:getCompanyName" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyNameResponse" message="tns:getCompanyNameResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyName/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getCompanySymbols">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySymbolsRequest" message="tns:getCompanySymbols" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySymbolsResponse" message="tns:getCompanySymbolsResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySymbols/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getFTSESectors">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getFTSESectorsRequest" message="tns:getFTSESectors" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getFTSESectorsResponse" message="tns:getFTSESectorsResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/getFTSESectors/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getCompanyShares">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySharesRequest" message="tns:getCompanyShares" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySharesResponse" message="tns:getCompanySharesResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyShares/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="addNewCompany">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompanyRequest" message="tns:addNewCompany" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompanyResponse" message="tns:addNewCompanyResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompany/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompany/Fault/DatatypeConfigurationException" name="DatatypeConfigurationException" message="tns:DatatypeConfigurationException" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompany/Fault/FileNotFoundException" name="FileNotFoundException" message="tns:FileNotFoundException" />
    </operation>
    <operation name="removeCompany">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompanyRequest" message="tns:removeCompany" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompanyResponse" message="tns:removeCompanyResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompany/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompany/Fault/FileNotFoundException" name="FileNotFoundException" message="tns:FileNotFoundException" />
    </operation>
    <operation name="searchBySymbol">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/searchBySymbolRequest" message="tns:searchBySymbol" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/searchBySymbolResponse" message="tns:searchBySymbolResponse" />
    </operation>
    <operation name="searchByName">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByNameRequest" message="tns:searchByName" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByNameResponse" message="tns:searchByNameResponse" />
    </operation>
    <operation name="searchByFTSESector">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByFTSESectorRequest" message="tns:searchByFTSESector" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByFTSESectorResponse" message="tns:searchByFTSESectorResponse" />
    </operation>
    <operation name="searchByRange">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByRangeRequest" message="tns:searchByRange" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByRangeResponse" message="tns:searchByRangeResponse" />
    </operation>
    <operation name="searchByLowest">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByLowestRequest" message="tns:searchByLowest" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByLowestResponse" message="tns:searchByLowestResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/searchByLowest/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="searchByHighest">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByHighestRequest" message="tns:searchByHighest" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByHighestResponse" message="tns:searchByHighestResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/searchByHighest/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="filterQuery">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/filterQueryRequest" message="tns:filterQuery" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/filterQueryResponse" message="tns:filterQueryResponse" />
      <fault wsam:Action="http://sharesbroker/SharesBrokerWS/filterQuery/Fault/JAXBException" name="JAXBException" message="tns:JAXBException" />
    </operation>
    <operation name="getCurrencyCodes">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getCurrencyCodesRequest" message="tns:getCurrencyCodes" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getCurrencyCodesResponse" message="tns:getCurrencyCodesResponse" />
    </operation>
    <operation name="updateRates">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/updateRatesRequest" message="tns:updateRates" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/updateRatesResponse" message="tns:updateRatesResponse" />
    </operation>
    <operation name="getPriceByCurrency">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getPriceByCurrencyRequest" message="tns:getPriceByCurrency" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getPriceByCurrencyResponse" message="tns:getPriceByCurrencyResponse" />
    </operation>
    <operation name="getRealTimeShares">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeSharesRequest" message="tns:getRealTimeShares" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeSharesResponse" message="tns:getRealTimeSharesResponse" />
    </operation>
    <operation name="getStockNews">
      <input wsam:Action="http://sharesbroker/SharesBrokerWS/getStockNewsRequest" message="tns:getStockNews" />
      <output wsam:Action="http://sharesbroker/SharesBrokerWS/getStockNewsResponse" message="tns:getStockNewsResponse" />
    </operation>
  </portType>
  <binding name="SharesBrokerWSPortBinding" type="tns:SharesBrokerWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="updateSharePrice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getAvailableShares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="listShares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getShare">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="updateCompanyShare">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getCompanyName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getCompanySymbols">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getFTSESectors">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getCompanyShares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="addNewCompany">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
      <fault name="DatatypeConfigurationException">
        <soap:fault use="literal" name="DatatypeConfigurationException" namespace="" />
      </fault>
      <fault name="FileNotFoundException">
        <soap:fault use="literal" name="FileNotFoundException" namespace="" />
      </fault>
    </operation>
    <operation name="removeCompany">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
      <fault name="FileNotFoundException">
        <soap:fault use="literal" name="FileNotFoundException" namespace="" />
      </fault>
    </operation>
    <operation name="searchBySymbol">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByFTSESector">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByRange">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="searchByLowest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="searchByHighest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="filterQuery">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="JAXBException">
        <soap:fault use="literal" name="JAXBException" namespace="" />
      </fault>
    </operation>
    <operation name="getCurrencyCodes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateRates">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPriceByCurrency">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRealTimeShares">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getStockNews">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SharesBrokerWS">
    <port name="SharesBrokerWSPort" binding="tns:SharesBrokerWSPortBinding">
      <soap:address location="http://localhost:8080/SharesBrokerWS/SharesBrokerWS" />
    </port>
  </service>
</definitions>