coursework/SharesBrokerASPClient/SharesBrokerASPClient/Web References/UserWebService/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://xml.netbeans.org/schema/Users" elementFormDefault="qualified" targetNamespace="http://xml.netbeans.org/schema/Users" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:element name="Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="users" nillable="true" type="tns:userType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="Username" type="xs:string" />
      <xs:element name="Password" type="xs:string" />
      <xs:element name="IsAdmin" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserShares">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CompanySymbol" type="xs:string" />
            <xs:element name="CompanyShares" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>