coursework/SharesBrokerClient/xml-resources/web-service-references/UserService/wsdl/localhost_8080/UserService/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://userws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://userws/" name="UserService">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Users" schemaLocation="http://localhost:8080/UserService/UserService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://userws/" schemaLocation="http://localhost:8080/UserService/UserService?xsd=2"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="purchaseShares">
<part name="parameters" element="tns:purchaseShares"/>
</message>
<message name="purchaseSharesResponse">
<part name="parameters" element="tns:purchaseSharesResponse"/>
</message>
<message name="DatatypeConfigurationException">
<part name="fault" element="tns:DatatypeConfigurationException"/>
</message>
<message name="sellShares">
<part name="parameters" element="tns:sellShares"/>
</message>
<message name="sellSharesResponse">
<part name="parameters" element="tns:sellSharesResponse"/>
</message>
<message name="getUserShares">
<part name="parameters" element="tns:getUserShares"/>
</message>
<message name="getUserSharesResponse">
<part name="parameters" element="tns:getUserSharesResponse"/>
</message>
<message name="isUserAdmin">
<part name="parameters" element="tns:isUserAdmin"/>
</message>
<message name="isUserAdminResponse">
<part name="parameters" element="tns:isUserAdminResponse"/>
</message>
<portType name="UserService">
<operation name="getUser">
<input wsam:Action="http://userws/UserService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://userws/UserService/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://userws/UserService/getUser/Fault/JAXBException"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://userws/UserService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://userws/UserService/registerUserResponse" message="tns:registerUserResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://userws/UserService/registerUser/Fault/JAXBException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://userws/UserService/registerUser/Fault/FileNotFoundException"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://userws/UserService/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://userws/UserService/loginUserResponse" message="tns:loginUserResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://userws/UserService/loginUser/Fault/JAXBException"/>
</operation>
<operation name="purchaseShares">
<input wsam:Action="http://userws/UserService/purchaseSharesRequest" message="tns:purchaseShares"/>
<output wsam:Action="http://userws/UserService/purchaseSharesResponse" message="tns:purchaseSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://userws/UserService/purchaseShares/Fault/JAXBException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://userws/UserService/purchaseShares/Fault/FileNotFoundException"/>
<fault message="tns:DatatypeConfigurationException" name="DatatypeConfigurationException" wsam:Action="http://userws/UserService/purchaseShares/Fault/DatatypeConfigurationException"/>
</operation>
<operation name="sellShares">
<input wsam:Action="http://userws/UserService/sellSharesRequest" message="tns:sellShares"/>
<output wsam:Action="http://userws/UserService/sellSharesResponse" message="tns:sellSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://userws/UserService/sellShares/Fault/JAXBException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://userws/UserService/sellShares/Fault/FileNotFoundException"/>
<fault message="tns:DatatypeConfigurationException" name="DatatypeConfigurationException" wsam:Action="http://userws/UserService/sellShares/Fault/DatatypeConfigurationException"/>
</operation>
<operation name="getUserShares">
<input wsam:Action="http://userws/UserService/getUserSharesRequest" message="tns:getUserShares"/>
<output wsam:Action="http://userws/UserService/getUserSharesResponse" message="tns:getUserSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://userws/UserService/getUserShares/Fault/JAXBException"/>
</operation>
<operation name="isUserAdmin">
<input wsam:Action="http://userws/UserService/isUserAdminRequest" message="tns:isUserAdmin"/>
<output wsam:Action="http://userws/UserService/isUserAdminResponse" message="tns:isUserAdminResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="purchaseShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="DatatypeConfigurationException">
<soap:fault name="DatatypeConfigurationException" use="literal"/>
</fault>
</operation>
<operation name="sellShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="DatatypeConfigurationException">
<soap:fault name="DatatypeConfigurationException" use="literal"/>
</fault>
</operation>
<operation name="getUserShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="isUserAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:8080/UserService/UserService"/>
</port>
</service>
</definitions>