coursework/UserWS/web/WEB-INF/wsdl/localhost_8080/SharesBrokerWS/SharesBrokerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sharesbroker/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sharesbroker/" name="SharesBrokerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Shares" schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://sharesbroker/" schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=2"/>
</xsd:schema>
</types>
<message name="getRealTimeShares">
<part name="parameters" element="tns:getRealTimeShares"/>
</message>
<message name="getRealTimeSharesResponse">
<part name="parameters" element="tns:getRealTimeSharesResponse"/>
</message>
<message name="getRealTimeConversion">
<part name="parameters" element="tns:getRealTimeConversion"/>
</message>
<message name="getRealTimeConversionResponse">
<part name="parameters" element="tns:getRealTimeConversionResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="getStockNews">
<part name="parameters" element="tns:getStockNews"/>
</message>
<message name="getStockNewsResponse">
<part name="parameters" element="tns:getStockNewsResponse"/>
</message>
<message name="getShare">
<part name="parameters" element="tns:getShare"/>
</message>
<message name="getShareResponse">
<part name="parameters" element="tns:getShareResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="updateCompanyShare">
<part name="parameters" element="tns:updateCompanyShare"/>
</message>
<message name="updateCompanyShareResponse">
<part name="parameters" element="tns:updateCompanyShareResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="DatatypeConfigurationException">
<part name="fault" element="tns:DatatypeConfigurationException"/>
</message>
<message name="getCompanySymbols">
<part name="parameters" element="tns:getCompanySymbols"/>
</message>
<message name="getCompanySymbolsResponse">
<part name="parameters" element="tns:getCompanySymbolsResponse"/>
</message>
<message name="getCompanyName">
<part name="parameters" element="tns:getCompanyName"/>
</message>
<message name="getCompanyNameResponse">
<part name="parameters" element="tns:getCompanyNameResponse"/>
</message>
<message name="getAvailableShares">
<part name="parameters" element="tns:getAvailableShares"/>
</message>
<message name="getAvailableSharesResponse">
<part name="parameters" element="tns:getAvailableSharesResponse"/>
</message>
<message name="listShares">
<part name="parameters" element="tns:listShares"/>
</message>
<message name="listSharesResponse">
<part name="parameters" element="tns:listSharesResponse"/>
</message>
<message name="getFTSESectors">
<part name="parameters" element="tns:getFTSESectors"/>
</message>
<message name="getFTSESectorsResponse">
<part name="parameters" element="tns:getFTSESectorsResponse"/>
</message>
<message name="getCompanyShares">
<part name="parameters" element="tns:getCompanyShares"/>
</message>
<message name="getCompanySharesResponse">
<part name="parameters" element="tns:getCompanySharesResponse"/>
</message>
<message name="addNewCompany">
<part name="parameters" element="tns:addNewCompany"/>
</message>
<message name="addNewCompanyResponse">
<part name="parameters" element="tns:addNewCompanyResponse"/>
</message>
<message name="removeCompany">
<part name="parameters" element="tns:removeCompany"/>
</message>
<message name="removeCompanyResponse">
<part name="parameters" element="tns:removeCompanyResponse"/>
</message>
<message name="searchBySymbol">
<part name="parameters" element="tns:searchBySymbol"/>
</message>
<message name="searchBySymbolResponse">
<part name="parameters" element="tns:searchBySymbolResponse"/>
</message>
<message name="searchByName">
<part name="parameters" element="tns:searchByName"/>
</message>
<message name="searchByNameResponse">
<part name="parameters" element="tns:searchByNameResponse"/>
</message>
<message name="searchByFTSESector">
<part name="parameters" element="tns:searchByFTSESector"/>
</message>
<message name="searchByFTSESectorResponse">
<part name="parameters" element="tns:searchByFTSESectorResponse"/>
</message>
<message name="searchByRange">
<part name="parameters" element="tns:searchByRange"/>
</message>
<message name="searchByRangeResponse">
<part name="parameters" element="tns:searchByRangeResponse"/>
</message>
<message name="searchByLowest">
<part name="parameters" element="tns:searchByLowest"/>
</message>
<message name="searchByLowestResponse">
<part name="parameters" element="tns:searchByLowestResponse"/>
</message>
<message name="searchByHighest">
<part name="parameters" element="tns:searchByHighest"/>
</message>
<message name="searchByHighestResponse">
<part name="parameters" element="tns:searchByHighestResponse"/>
</message>
<message name="filterQuery">
<part name="parameters" element="tns:filterQuery"/>
</message>
<message name="filterQueryResponse">
<part name="parameters" element="tns:filterQueryResponse"/>
</message>
<portType name="SharesBrokerWS">
<operation name="getRealTimeShares">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeSharesRequest" message="tns:getRealTimeShares"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeSharesResponse" message="tns:getRealTimeSharesResponse"/>
</operation>
<operation name="getRealTimeConversion">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeConversionRequest" message="tns:getRealTimeConversion"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeConversionResponse" message="tns:getRealTimeConversionResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://sharesbroker/SharesBrokerWS/getRealTimeConversion/Fault/ParseException"/>
</operation>
<operation name="getStockNews">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getStockNewsRequest" message="tns:getStockNews"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getStockNewsResponse" message="tns:getStockNewsResponse"/>
</operation>
<operation name="getShare">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getShareRequest" message="tns:getShare"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getShareResponse" message="tns:getShareResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/getShare/Fault/JAXBException"/>
</operation>
<operation name="updateCompanyShare">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShareRequest" message="tns:updateCompanyShare"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShareResponse" message="tns:updateCompanyShareResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShare/Fault/JAXBException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShare/Fault/FileNotFoundException"/>
<fault message="tns:DatatypeConfigurationException" name="DatatypeConfigurationException" wsam:Action="http://sharesbroker/SharesBrokerWS/updateCompanyShare/Fault/DatatypeConfigurationException"/>
</operation>
<operation name="getCompanySymbols">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySymbolsRequest" message="tns:getCompanySymbols"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySymbolsResponse" message="tns:getCompanySymbolsResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySymbols/Fault/JAXBException"/>
</operation>
<operation name="getCompanyName">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyNameRequest" message="tns:getCompanyName"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyNameResponse" message="tns:getCompanyNameResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyName/Fault/JAXBException"/>
</operation>
<operation name="getAvailableShares">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getAvailableSharesRequest" message="tns:getAvailableShares"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getAvailableSharesResponse" message="tns:getAvailableSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/getAvailableShares/Fault/JAXBException"/>
</operation>
<operation name="listShares">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/listSharesRequest" message="tns:listShares"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/listSharesResponse" message="tns:listSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/listShares/Fault/JAXBException"/>
</operation>
<operation name="getFTSESectors">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getFTSESectorsRequest" message="tns:getFTSESectors"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getFTSESectorsResponse" message="tns:getFTSESectorsResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/getFTSESectors/Fault/JAXBException"/>
</operation>
<operation name="getCompanyShares">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySharesRequest" message="tns:getCompanyShares"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanySharesResponse" message="tns:getCompanySharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/getCompanyShares/Fault/JAXBException"/>
</operation>
<operation name="addNewCompany">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompanyRequest" message="tns:addNewCompany"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompanyResponse" message="tns:addNewCompanyResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompany/Fault/JAXBException"/>
<fault message="tns:DatatypeConfigurationException" name="DatatypeConfigurationException" wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompany/Fault/DatatypeConfigurationException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://sharesbroker/SharesBrokerWS/addNewCompany/Fault/FileNotFoundException"/>
</operation>
<operation name="removeCompany">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompanyRequest" message="tns:removeCompany"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompanyResponse" message="tns:removeCompanyResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompany/Fault/JAXBException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://sharesbroker/SharesBrokerWS/removeCompany/Fault/FileNotFoundException"/>
</operation>
<operation name="searchBySymbol">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/searchBySymbolRequest" message="tns:searchBySymbol"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/searchBySymbolResponse" message="tns:searchBySymbolResponse"/>
</operation>
<operation name="searchByName">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByNameRequest" message="tns:searchByName"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByNameResponse" message="tns:searchByNameResponse"/>
</operation>
<operation name="searchByFTSESector">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByFTSESectorRequest" message="tns:searchByFTSESector"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByFTSESectorResponse" message="tns:searchByFTSESectorResponse"/>
</operation>
<operation name="searchByRange">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByRangeRequest" message="tns:searchByRange"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByRangeResponse" message="tns:searchByRangeResponse"/>
</operation>
<operation name="searchByLowest">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByLowestRequest" message="tns:searchByLowest"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByLowestResponse" message="tns:searchByLowestResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/searchByLowest/Fault/JAXBException"/>
</operation>
<operation name="searchByHighest">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/searchByHighestRequest" message="tns:searchByHighest"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/searchByHighestResponse" message="tns:searchByHighestResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/searchByHighest/Fault/JAXBException"/>
</operation>
<operation name="filterQuery">
<input wsam:Action="http://sharesbroker/SharesBrokerWS/filterQueryRequest" message="tns:filterQuery"/>
<output wsam:Action="http://sharesbroker/SharesBrokerWS/filterQueryResponse" message="tns:filterQueryResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://sharesbroker/SharesBrokerWS/filterQuery/Fault/JAXBException"/>
</operation>
</portType>
<binding name="SharesBrokerWSPortBinding" type="tns:SharesBrokerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRealTimeShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRealTimeConversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getStockNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="updateCompanyShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="DatatypeConfigurationException">
<soap:fault name="DatatypeConfigurationException" use="literal"/>
</fault>
</operation>
<operation name="getCompanySymbols">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="getCompanyName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="getAvailableShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="listShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="getFTSESectors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="getCompanyShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="addNewCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="DatatypeConfigurationException">
<soap:fault name="DatatypeConfigurationException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="removeCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchBySymbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByFTSESector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByLowest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="searchByHighest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="filterQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SharesBrokerWS">
<port name="SharesBrokerWSPort" binding="tns:SharesBrokerWSPortBinding">
<soap:address location="http://localhost:8080/SharesBrokerWS/SharesBrokerWS"/>
</port>
</service>
</definitions>