coursework/SharesBrokerWSApplication/web/WEB-INF/wsdl/localhost_8080/CurrConvertor/CurrConvertor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://convertor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://convertor/" name="CurrConvertor">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/rates" schemaLocation="http://localhost:8080/CurrConvertor/CurrConvertor?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://convertor/" schemaLocation="http://localhost:8080/CurrConvertor/CurrConvertor?xsd=2"/>
</xsd:schema>
</types>
<message name="updateRates">
<part name="parameters" element="tns:updateRates"/>
</message>
<message name="updateRatesResponse">
<part name="parameters" element="tns:updateRatesResponse"/>
</message>
<message name="getLocalRates">
<part name="parameters" element="tns:getLocalRates"/>
</message>
<message name="getLocalRatesResponse">
<part name="parameters" element="tns:getLocalRatesResponse"/>
</message>
<message name="getConversionRate">
<part name="parameters" element="tns:getConversionRate"/>
</message>
<message name="getConversionRateResponse">
<part name="parameters" element="tns:getConversionRateResponse"/>
</message>
<message name="getCurrCodes">
<part name="parameters" element="tns:getCurrCodes"/>
</message>
<message name="getCurrCodesResponse">
<part name="parameters" element="tns:getCurrCodesResponse"/>
</message>
<portType name="CurrConvertor">
<operation name="updateRates">
<input wsam:Action="http://convertor/CurrConvertor/updateRatesRequest" message="tns:updateRates"/>
<output wsam:Action="http://convertor/CurrConvertor/updateRatesResponse" message="tns:updateRatesResponse"/>
</operation>
<operation name="getLocalRates">
<input wsam:Action="http://convertor/CurrConvertor/getLocalRatesRequest" message="tns:getLocalRates"/>
<output wsam:Action="http://convertor/CurrConvertor/getLocalRatesResponse" message="tns:getLocalRatesResponse"/>
</operation>
<operation name="getConversionRate">
<input wsam:Action="http://convertor/CurrConvertor/getConversionRateRequest" message="tns:getConversionRate"/>
<output wsam:Action="http://convertor/CurrConvertor/getConversionRateResponse" message="tns:getConversionRateResponse"/>
</operation>
<operation name="getCurrCodes">
<input wsam:Action="http://convertor/CurrConvertor/getCurrCodesRequest" message="tns:getCurrCodes"/>
<output wsam:Action="http://convertor/CurrConvertor/getCurrCodesResponse" message="tns:getCurrCodesResponse"/>
</operation>
</portType>
<binding name="CurrConvertorPortBinding" type="tns:CurrConvertor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateRates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLocalRates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getConversionRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CurrConvertor">
<port name="CurrConvertorPort" binding="tns:CurrConvertorPortBinding">
<soap:address location="http://localhost:8080/CurrConvertor/CurrConvertor"/>
</port>
</service>
</definitions>