coursework/SharesBrokerJSPClient/web/WEB-INF/wsdl/localhost_8080/SharesBrokerWS/SharesBrokerWS.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://sharesbroker/" xmlns:ns1="http://xml.netbeans.org/schema/Shares" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sharesbroker/">

<xs:import namespace="http://xml.netbeans.org/schema/Shares" schemaLocation="http://localhost:8080/SharesBrokerWS/SharesBrokerWS?xsd=1"/>

<xs:element name="DatatypeConfigurationException" type="tns:DatatypeConfigurationException"/>

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="addNewCompany" type="tns:addNewCompany"/>

<xs:element name="addNewCompanyResponse" type="tns:addNewCompanyResponse"/>

<xs:element name="getAvailableShares" type="tns:getAvailableShares"/>

<xs:element name="getAvailableSharesResponse" type="tns:getAvailableSharesResponse"/>

<xs:element name="getCompanyFTSESector" type="tns:getCompanyFTSESector"/>

<xs:element name="getCompanyFTSESectorResponse" type="tns:getCompanyFTSESectorResponse"/>

<xs:element name="getCompanyLogo" type="tns:getCompanyLogo"/>

<xs:element name="getCompanyLogoResponse" type="tns:getCompanyLogoResponse"/>

<xs:element name="getCompanyName" type="tns:getCompanyName"/>

<xs:element name="getCompanyNameResponse" type="tns:getCompanyNameResponse"/>

<xs:element name="getCompanyShareCurrencyFormat" type="tns:getCompanyShareCurrencyFormat"/>

<xs:element name="getCompanyShareCurrencyFormatResponse" type="tns:getCompanyShareCurrencyFormatResponse"/>

<xs:element name="getCompanyShareValue" type="tns:getCompanyShareValue"/>

<xs:element name="getCompanyShareValueResponse" type="tns:getCompanyShareValueResponse"/>

<xs:element name="getCompanyShares" type="tns:getCompanyShares"/>

<xs:element name="getCompanySharesResponse" type="tns:getCompanySharesResponse"/>

<xs:element name="getCompanySymbols" type="tns:getCompanySymbols"/>

<xs:element name="getCompanySymbolsResponse" type="tns:getCompanySymbolsResponse"/>

<xs:element name="getFTSESectors" type="tns:getFTSESectors"/>

<xs:element name="getFTSESectorsResponse" type="tns:getFTSESectorsResponse"/>

<xs:element name="getPriceByCurrency" type="tns:getPriceByCurrency"/>

<xs:element name="getPriceByCurrencyResponse" type="tns:getPriceByCurrencyResponse"/>

<xs:element name="listShares" type="tns:listShares"/>

<xs:element name="listSharesResponse" type="tns:listSharesResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:element name="purchaseShares" type="tns:purchaseShares"/>

<xs:element name="purchaseSharesResponse" type="tns:purchaseSharesResponse"/>

<xs:element name="registerUser" type="tns:registerUser"/>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>

<xs:element name="removeCompany" type="tns:removeCompany"/>

<xs:element name="removeCompanyResponse" type="tns:removeCompanyResponse"/>

<xs:element name="searchByFTSESector" type="tns:searchByFTSESector"/>

<xs:element name="searchByFTSESectorResponse" type="tns:searchByFTSESectorResponse"/>

<xs:element name="searchByHighestSharePrice" type="tns:searchByHighestSharePrice"/>

<xs:element name="searchByHighestSharePriceResponse" type="tns:searchByHighestSharePriceResponse"/>

<xs:element name="searchByLowestSharePrice" type="tns:searchByLowestSharePrice"/>

<xs:element name="searchByLowestSharePriceResponse" type="tns:searchByLowestSharePriceResponse"/>

<xs:element name="searchByName" type="tns:searchByName"/>

<xs:element name="searchByNameResponse" type="tns:searchByNameResponse"/>

<xs:element name="searchBySharePriceRange" type="tns:searchBySharePriceRange"/>

<xs:element name="searchBySharePriceRangeResponse" type="tns:searchBySharePriceRangeResponse"/>

<xs:element name="searchBySymbol" type="tns:searchBySymbol"/>

<xs:element name="searchBySymbolResponse" type="tns:searchBySymbolResponse"/>

<xs:element name="sellShares" type="tns:sellShares"/>

<xs:element name="sellSharesResponse" type="tns:sellSharesResponse"/>

<xs:element name="updateCompanyShare" type="tns:updateCompanyShare"/>

<xs:element name="updateCompanyShareResponse" type="tns:updateCompanyShareResponse"/>

<xs:complexType name="getFTSESectors">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFTSESectorsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchByFTSESector">
<xs:sequence>
<xs:element name="ftseSector" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByFTSESectorResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellShares">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="shares" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellSharesResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="users" type="ns1:userType" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DatatypeConfigurationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanySymbols">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCompanySymbolsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listShares">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listSharesResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="shares" type="ns1:shareType" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyShares">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCompanySharesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPriceByCurrency">
<xs:sequence>
<xs:element name="currentCurrencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="newCurrencyCode" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPriceByCurrencyResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableShares">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableSharesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyFTSESector">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyFTSESectorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCompanyShare">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
<xs:element name="shares" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCompanyShareResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="shares" type="ns1:shareType" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByLowestSharePrice">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchByLowestSharePriceResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCompany">
<xs:sequence>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeCompanyResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="shares" type="ns1:shareType" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseShares">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="shares" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseSharesResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="users" type="ns1:userType" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewCompany">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
<xs:element name="company" type="xs:string" minOccurs="0"/>
<xs:element name="ftseSector" type="xs:string" minOccurs="0"/>
<xs:element name="logo" type="xs:string" minOccurs="0"/>
<xs:element name="availableShares" type="xs:int"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="shareValue" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewCompanyResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="shares" type="ns1:shareType" form="qualified" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByNameResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyName">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyLogo">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyLogoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="conpassword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByHighestSharePrice">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchByHighestSharePriceResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBySymbol">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBySymbolResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyShareCurrencyFormat">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyShareCurrencyFormatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyShareValue">
<xs:sequence>
<xs:element name="symbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyShareValueResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBySharePriceRange">
<xs:sequence>
<xs:element name="lowerBound" type="xs:float"/>
<xs:element name="higherBound" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchBySharePriceRangeResponse">
<xs:sequence>
<xs:element name="return" type="ns1:shareType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>